<html>
    <head>
        <title>$action.getText("advanced-cloner.label")</title>
        <meta name="decorator" content="alt.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    </head>
    <body class="aui">
        #if ($action.hasAnyErrors())
        <div class="aui-message error">
            <h4>$action.getText("advanced-cloner.error")</h4>
            <ul>
            #foreach ($error in $action.getErrorMessages())
                <li>$action.getText($error)</li>
            #end
            #foreach ($error in $action.errors)
                <li>$error</li>
            #end
            </ul>
        </div>
        #end
        <h2>$action.getText("advanced-cloner.confirm")</h2><br/>
        <form class="aui" name="jiraform" method="post" action="IssueClonerWithCount.jspa">
            <div class="form-body">
                <div class="hidden">
                    <input type="hidden" name="atl_token" value="$atl_token"/>
                    <input type="hidden" name="id" value="$action.getIssueObject().getId()"/>
                </div>
                <div class="field-group">
                    <label for="selectedGroups">$action.getText("advanced-cloner.newname")<span class="aui-icon icon-required"></span></label>
                    <input type="text" class="text long-field" id="newName" name="newName" value="$textutils.htmlEncode($newName)"/>
                </div>
                <div class="field-group">
                    <label for="selectedGroups">$action.getText("advanced-cloner.issuecount")<span class="aui-icon icon-required"></span></label>
                    <input type="text" id="issueCount" name="issueCount" value="${issueCount}"/>
                </div>
                <div class="field-group">
                    <label for="cloneLinks">$action.getText("advanced-cloner.withLinks")</label>
                    <input type="checkbox" id="cloneLinks" name="cloneLinks" value="true" #if(${cloneLinks})checked="checked"#end/>
                </div>
                <div class="field-group">
                    <label for="cloneAttachments">$action.getText("advanced-cloner.withAttachments")</label>
                    <input type="checkbox" id="cloneAttachments" name="cloneAttachments" #if(${cloneAttachments})checked="checked"#end value="true"/>
                </div>
                <div class="field-group">
                    <label for="cloneWatchers">$action.getText("advanced-cloner.withWatchers")</label>
                    <input type="checkbox" id="cloneWatchers" name="cloneWatchers" #if(${cloneWatchers})checked="checked"#end value="true"/>
                </div>
                #if($action.getCustomFields().size() > 0)
                <div class="field-group">
                    <label for="fields">$action.getText("advanced-cloner.customfields")</label>
                    <select id="fields" name="fields" multiple="multiple" size="5">
                        #foreach($field in $action.getCustomFields())
                        <option value="$field.getId()" selected="selected">$field.getName()</option>
                        #end
                    </select>
                </div>
                #end
                <div class="buttons-container form-footer">
                    <div class="buttons">
                        <input class="button submit" type="submit" name="add" value="$action.getText("common.words.yes")" accesskey="S" title="Press Alt+Shift+S to submit form"/>
                        <a title="Press Alt+Shift+` to cancel" id="assign-issue-cancel" href="/jira/browse/$action.getIssueObject().getKey()" class="aui-button aui-button-link cancel" accesskey="`">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
